target/
*.class
*.log
.idea/
*.iml
*.ipr
*.iws
.project
.settings/
.classpath
dependency-reduced-pom.xml
test/
plugins/
world/
world_nether/
world_the_end/
logs/
cache/
libraries/
versions/
*.json
*.db
*.txt
.console_history
paper.jar
eula.txt
server.properties
bukkit.yml
spigot.yml
paper.yml
commands.yml
help.yml
permissions.yml
ops.json
whitelist.json
usercache.json
version_history.json
start.bat
